<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommender</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="loader" style="display:none">
        <p class="txt">Searching...</p>
    </div>

    <div class="container">
        <div id="menu_area">
            <h1>Movie Recommender</h1>
            <div class="recommender">
                    <a href="#contents_based" id="contents_based">コンテンツベースフィルタリング</a>
                    <a href="#collab_filtering" id="collab_filtering">協調フィルタリング（ユーザベース）</a>
            </div>    
        </div>

        <div id="contents_based_area" style="display:none">
            <!-- 映画検索フォーム -->
            <div class="header-button">
                <button class="back-to-menu-btn btn">Back To Menu</button>        
                <button id="back-to-contents-based-btn" class="btn" style="display:none">Back To ContentsBased</button>
            </div>
        
            <div class="choice-list" id="movie-choices">
                <h2>Choose one of your favorite movies</h2>
                <ul>
                    {% for i,er in escaped_rand_list.items() %}
                    <li class="rand-movie-area">
                        <label id="title">
                            <input type="radio" name="choices" value={{er[1]}} />
                            {{ er[0] }}
                        </label>
                        <img src={{er[2]}} alt="" width="" height="">
                    </li>
                    {% endfor %}
                </ul>
                <div id="contents-based-button-area">
                    <button id="search-btn" class="btn">Search</button>        
                    <button id="refresh-btn" class="btn">Nothing Here</button>
                </div>
            </div>
        
            <!-- 映画情報と推薦結果を表示する領域 -->
            <div class="movie-details">
                <h2 id="movie-title"></h2>
                <p id="movie-description"></p>
            </div>
        
            <div class="recommendations">
                <h3>Recommended Movies:</h3>
                <ul id="recommendation-list"></ul>
            </div>
        </div>

        <div id="collab_filtering_area" style="display:none">
            <!-- 映画検索フォーム -->
            <div class="header-button">
                <button class="back-to-menu-btn">Back To Menu</button>        
                <button id="back-to-collab-filtering-btn" style="display:none">Back To Collaborative Filtering</button>
            </div>

            <h2>Evaluations list</h2>
            <ul id="evaluated-movies"></ul>

            <div id="movie-evaluate-area">
                <h2>Evaluate the movie below. If you haven't watched it, click 'Show next'</h2>
                <ul>
                    <li class="rand-movie-area">
                        <img src={{escaped_rand_list[0][2]}} alt="" width="" height="">
                        <div id="evaluated_movie_title">{{ escaped_rand_list[0][0] }}</div>
                        <div>
                            <div class="md-radio md-radio-inline">
                                <input value="1" type="radio" name="eval" checked>
                                <label for="1">１</label>
                            </div>
                            <div class="md-radio md-radio-inline">
                                <input value="2" type="radio" name="eval">
                                <label for="4">２</label>
                            </div>                        
                            <div class="md-radio md-radio-inline">
                                <input value="3" type="radio" name="eval">
                                <label for="3">３</label>
                            </div>
                            <div class="md-radio md-radio-inline">
                                <input value="4" type="radio" name="eval">
                                <label for="4">４</label>
                            </div>                        

                            <div class="md-radio md-radio-inline">
                                <input value="5" type="radio" name="eval">
                                <label for="3">５</label>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="collab-filtering-button-area">
                    <button id="send-btn" class="btn">Add Evaluation</button>        
                    <button id="show-next-btn" class="btn">Show next</button>
                </div>
            </div>
        
            <!-- 映画情報と推薦結果を表示する領域 -->
            <div class="recommendations">
                <h3>Recommended Movies:</h3>
                <ul id="recommendation-movies">
                </ul>
            </div>
        </div>
    </div>

    <script src="../static/script.js"></script>
</body>
</html>